---
// 欢迎使用 Astro！这些三破折号代码围栏之间的内容是你的 "component frontmatter"。它不会在浏览器中运行。

---
<!-- 下面是你的 "component template"。它只是 HTML，但加入了一些魔法，帮助你构建出色的模板。 -->
<html>
    <body>
        <h1>我的 Astro 网站</h1>
        <h1>关于我</h1>
        <h2>……和我的新 Astro 网站！</h2>
      
        <p>我正在学习 Astro 的入门教程。这是我网站上的第二个页面，也是我自己建立的第一页面！</p>
      
        <p>随着我完成更多教程，该站点将更新，所以请继续查看我的旅程将如何进行吧！</p>
    </body>
</html>
<style>
  h1 {
    color: orange;
  }
</style>